
* {
	margin: 0px;
	padding: 0px;
	border: none;
	color: white;
	cursor: default;
	font-family: serif;
	font-family: 'verdana';
	font-family: 'Segoe UI';
	-webkit-user-select: none;
}

html, body, #main-canvas, #canvas-container {
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: black;
}

#error-message {
	position: fixed;
	width: 100%;
	height: 50%;
	top: 50%;
	font-size: 1.5em;
	text-align: center;
}

