
:not(#error-message) {
	margin: 0px;
	padding: 0px;
	border: none;
}

html, body, canvas {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#canvas-container {
	position: fixed;
}

#error-message {
	position: fixed;
	margin: auto;
}

