
* {
	margin: 0px;
	padding: 0px;
	border: none;
	color: white;
	font-family: serif;
	font-family: 'verdana';
	font-family: 'Segoe UI';
}

html, body, canvas {
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: black;
}

#canvas-container {
	position: fixed;
}

#error-message {
	position: fixed;
	width: 100%;
	height: 50%;
	top: 50%;
	font-size: 1.5em;
	text-align: center;
}

